In [26]:
# Import standard libraries
import sys
import os
import pandas as pd

# Import Flask and SQLAlchemy-related modules
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import event
from sqlalchemy.engine import Engine

# Determine the current working directory (where the notebook is located)
current_dir = os.getcwd()

# Navigate up one level to reach the project root
project_root = os.path.abspath(os.path.join(current_dir, os.pardir))

# Add the project root to sys.path if it's not already there
if project_root not in sys.path:
    sys.path.append(project_root)

# Now, import your Flask app's create_app function and db instance
from app import create_app, db
from app.utils import create_returns_df

# Import your models
from app.models import SeriesGroup, TimeSeriesType, TimeSeries, Keyword, DataPoint

In [27]:
# Create the Flask application using the factory function
# Replace 'testing' with the appropriate configuration if needed
app = create_app('development')  # Common configurations: 'development', 'testing', 'production'

# Push the application context to allow database operations
app_context = app.app_context()
app_context.push()

In [28]:
# Enable foreign key constraints in SQLite
@event.listens_for(Engine, "connect")
def set_sqlite_pragma(dbapi_connection, connection_record):
    cursor = dbapi_connection.cursor()
    cursor.execute("PRAGMA foreign_keys=ON")
    cursor.close()

In [29]:
df = create_returns_df()

In [33]:
ts = TimeSeries.from_dataframe(df, code=list(df.columns), time_frequency='M')
ts1 = ts[0]
ts2 = ts[2]
display(ts1.to_dataframe())
display(ts2.to_dataframe())

                 GTO
date
1940-09-30 -0.140984
1940-10-31  0.005694
1940-11-30 -0.126260
1940-12-31  0.137169
1941-01-31  0.084367
...              ...
2023-08-31 -0.050898
2023-09-30  0.060036
2023-10-31 -0.038901
2023-11-30  0.033164
2023-12-31 -0.134881

[1000 rows x 1 columns]

                 GZS
date
1940-09-30  0.036714
1940-10-31  0.059432
1940-11-30  0.020700
1940-12-31 -0.144519
1941-01-31 -0.019402
...              ...
2023-08-31 -0.178173
2023-09-30  0.078542
2023-10-31  0.030882
2023-11-30 -0.063817
2023-12-31  0.126153

[1000 rows x 1 columns]

In [34]:
ts1.save()
ts2.save()